@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#footer {
  margin-top: 80px;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {}
.container .credit {
  margin: 20px 0;
}

label.valid {
  display: inline-block;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.popover {
  min-width: 320px;
}