!!! 5
html(lang="es")
  head
    meta(charset='utf-8')
    title Tarjetas de estacionamiento
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='/css/print.css')
  body
    #wrap.container
      block content
